h1 {
  font-size: 20;
  text-align: center;
}

body {
  background-image: linear-gradient(grey, white);
  margin-top: 17.5%;
}

form {
    text-align: center;
}

.border {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-left: 37.5%;
  margin-right: 37.5%;
  background-color: white;
}

#radius {
  margin-top: 7.5%;
}

input {
  border-radius: 5px;
  width: 90%;
  height: 30px;
  margin: 1%;
  font-size: 15;
}
